doctype html
html
	head
		title NodeAuth
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
			a.navbar-brand(href='#') Navbar
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='/') Home
							span.sr-only (current)
					li.nav-item(class = (title == 'Member' ? 'active' : ''))
						a.nav-link(href='#') Members
					if !user
						li.nav-item(class = (title == 'Register' ? 'active' : ''))
							a.nav-link(href='/users/register') Register
						li.nav-item(class = (title == 'Login' ? 'active' : ''))
							a.nav-link(href='/users/login') Login
					li.nav-item.dropdown(class = (title == 'dropdown' ? 'active' : ''))
						a#dropdown01.nav-link.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
						.dropdown-menu(aria-labelledby='dropdown01')
							a.dropdown-item(href='#') Action
							a.dropdown-item(href='#') Another action
							a.dropdown-item(href='#') Something else here
				ul.navbar-nav.mr-right
					if user
						li.nav-item
							a.nav-link(href='/users/logout') Log out
		.container
			!=messages()
			block content
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='/javascripts/bootstrap.min.js')
		script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		//script(src='/javascripts/bootstrap.js')